@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$col: #29282D;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_reset.scss";
@import "_grid.scss";
@import "_vars.scss";



@font-face {
  font-family: 'Golos';
  src: local('Golos Text Regular'), local('GolosText-Regular'), url('../fonts/Golostextregular.woff2') format('woff2'), url('../fonts/Golostextregular.woff') format('woff'), url('../fonts/Golostextregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Golos';
  src: local('Golos Text DemiBold'), local('GolosText-DemiBold'), url('../fonts/Golostextdemibold.woff2') format('woff2'), url('../fonts/Golostextdemibold.woff') format('woff'), url('../fonts/Golostextdemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Golos';
  src: local('Golos Text Black'), local('GolosText-Black'), url('../fonts/Golostextblack.woff2') format('woff2'), url('../fonts/Golostextblack.woff') format('woff'), url('../fonts/Golostextblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Golos';
  src: local('Golos Text Medium'), local('GolosText-Medium'), url('../fonts/Golostextmedium.woff2') format('woff2'), url('../fonts/Golostextmedium.woff') format('woff'), url('../fonts/Golostextmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Golos';
  src: local('Golos Text Bold'), local('GolosText-Bold'), url('../fonts/Golostextbold.woff2') format('woff2'), url('../fonts/Golostextbold.woff') format('woff'), url('../fonts/Golostextbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Golos', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  color: #29282D;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.contain {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;  
  box-sizing: content-box;
}


.header {
  background: rgb(244, 244, 244);
  box-shadow: rgba(175, 175, 175, 0.28) 0px 6px 10px;
  padding-top: 17px;
  padding-bottom: 17px;
}



.header-w {
  display: flex;  
  align-items: center;  
  flex-wrap: wrap;
}

.header-menu {
  width: 55px;
  height: 55px;
  background: rgb(51, 71, 82);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-right: 26px;
  cursor: pointer;
  flex: none;
  span {
    width: 35px;
    height: 2.86px;
    background: rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 3px;
  }
}



.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-form {
  margin-left: 23px;
  display: flex;  
  align-items: center;
}

input[type="text"].header-input-text {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(227, 227, 227);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 0px;
  width: 454px;
  height: 55px;
  color: rgb(83, 83, 83);
  padding: 0 20px;
}

.btn {

}

button {
  border: none;
  outline: none;
}

.header-btn {
  border-radius: 3px;
  height: 55px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  background: rgb(51, 71, 82);
  padding-right: 28px;  
  transition: 0.5s;
  &:hover {
    background-color: #29282D;
  }
  i {
    background: url("../img/check-btn.svg") $nr 0 0;
    width: 12px;
    height: 12px;
    margin-right: 11px;
  }
}



.icon-wats {
  width: 20px;
}


.header-actions {
  display: flex;
}
.header-action {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 55px;
  height: 55px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;  
  transition: 0.5s;
  .icon {
    height: 24px;
  }
  &:hover {
    background: #E36F2C;
    border: 1px solid #E36F2C; 
    .icon {
      display: none;
    }   
    .icon-hover {
      display: block;
    }
  }
}

.icon-hover {
  display: none;
}

.header-call {
  display: flex;
  flex-direction: column;  
  margin-left: auto;
}
.header-phone {
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #334752;
  display: inline-block;
  margin-bottom: 5px;
}
.header-callback {
  font-size: 14px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #E36F2C;
  display: inline-block;
  font-weight: 600;
}
.js-top-callback {}
.header-socials {
  margin-left: auto;
  display: flex;  
  justify-content: flex-end;
}
.header-social-btn {
  display: flex;  
  align-items: center;
  justify-content: center;
  background: #334752;
  border-radius: 3px;
  width: 55px;
  height: 55px;
  transition: 0.5s;
  &:hover {
    background-color: #29282D;
  }
  .icon {
    height: 27px;
  }
  + .header-social-btn {
    margin-left: 10px;
  }
}

.bread-ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  li {
    margin-right: 10px;
    display: flex;    
    align-items: center;
    margin-bottom: 12px;
    &:after {
      content: ">";
      color: rgb(140, 140, 140);
      font-size: 14px;
      margin-left: 10px;
    }
    span {
      font-weight: 600;
      font-size: 14px;
      color: #E36F2C;          
    }    
    &:last-child {
      &:after {
        display: none;
      }
      margin-bottom: 15px !important;
    }
  }
  a {
    color: rgb(140, 140, 140);
    font-size: 14px;
  }
}


.card {
  margin-top: 50px;
}

.card-main {}

.card-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 118%;
  text-transform: uppercase;
  color: #29282D;
  margin-bottom: 15px;
}
.card-info-row {
  display: flex;    
  justify-content: space-between;  
  align-items: flex-start;
}

.card-info-row--border {
  border-bottom: 1px solid #d6d6d6;  
  .card-info-col-1,
  .card-info-col-2 {
    padding-top: 7px;
  }
}


.card-info-col-1 {
  max-width: 713px;
  width: 100%;
}
.card-info-col-2 {
  max-width: 389px;
  width: 100%;
}
.card-info-col-3 {
  max-width: 376px;
  width: 100%;
}

.card-info {
  display: flex;  
  align-items: center;
}
.card-reviews {
  display: flex;  
  align-items: center;
  border-right: 1px solid #C4C4C4;
  padding-right: 23px;
}
.card-reviews-caption {
  font-size: 16px;
  margin-right: 12px;
}
.stars {
  display: flex;  
  align-items: center;          
  flex-wrap: wrap;
}
.star {
  width: 21px;
  height: 21px;
  background: url("../img/star.svg") $nr 0 0;
  margin: 0 1px;
}
.star-o {
 background: url("../img/star-o.svg") $nr 0 0; 
}
.card-article {
  border-right: 1px solid #C4C4C4;
  padding-right: 18px;
  padding-left: 22px;
}
.card-status {
  padding-left: 19px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 21px;
}
.card-status-stock {
  background-image: url("../img/check-green.svg");
  
}
.card-info-links {
  display: flex;  
  align-items: center;
}
.card-info-link {  
  color: #29282D;
  display: inline-flex;
  align-items: center;
  span {
    border-bottom: 1px solid #29282D;
  }  
  + .card-info-link {
    margin-left: 26px;
  }
  i {
    display: inline-block;
    margin-right: 7px;
    height: 14px;
    width: 14px;  
    -webkit-background-size: 14px;
    -o-background-size: 14px;
    background-size: 14px;  
  }
}
.doc {
  background: url("../img/doc.svg") $nr $lc;
}
.plus {
  background: url("../img/plus.svg") $nr $lc;
}
.card-actions {
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}
.card-action {
  background: #F8F8F8;
  border: 1px solid #D6D6D6;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  display: inline-flex;
  align-items: center;          
  justify-content: center;
  height: 60px;
  width: calc(50% - 6px);
  color: $col;
  &:hover {
    text-decoration: none;
  }
  i {
    margin-right: 6px;
    display: inline-block;
    height: 16px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: $rc;
  }
}
.watch {
  background-image: url("../img/watch-min.svg");
}
.tools {
  background-image: url("../img/tools-min.svg");
}


.card-info-col-2 {
  max-width: 389px;
  width: 100%;
}
.card-info-col-3 {
  max-width: 376px;
  width: 100%;
}

.card-info-row--product {
  margin-top: 29px;
}

.card-slider {
  display: flex;
}
.slider-pro {}
.card-slides {}
.card-thumbs {
  margin-right: 14px;
}
.card-thumb {
  box-shadow: 2px 2px 5px rgba(202, 202, 202, 0.65);
  border-radius: 3px;
  background-color: #FFF;
  display: flex;
  width: 85px;
  height: 85px;
  + .card-thumb {
    margin-top: 16px;
  }
}
.card-slide {
  display: flex;  
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 2px 2px 7px rgba(202, 202, 202, 0.65);
  border-radius: 5px;
  width: 614px;
  height: 389px;
  position: relative;
}

.card-slide-arrow {
  position: absolute;
  bottom: 29px;
  right: 29px;
  width: 65px;
  z-index: 10;
  height: 18px;
  display: inline-block;
  background: url("../img/arrow-long.svg") $nr 0 0;
}

.card-chars-caption {
  font-weight: 600;
  font-size: 18px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #29282D;
  line-height: 122%;
  margin-bottom: 12px;
}


.card-chars-table-item {
  + .card-chars-table-item {
    margin-top: 37px;
  }  
}

.card-chars-table {  
  width: 100%;
  td {
    background-color: #FFF;
    padding-bottom: 22px;
    .dots {
      background: url('../img/dot-td.svg') repeat-x left bottom 2px;
      span {
        background: #fff;
        padding-right: 5px;
      }
    }
    &:nth-child(2) {
      padding-left: 2px;
    } 
  }  
}







@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";